body {
    align-items: center;
    background-color: #292C33;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', monospace;
    justify-content: center;
    min-height: 100dvh;
}

@media screen and (max-width: 600px) {
    #container {
        max-width: 100%;
    }
}

@media screen and (min-width: 601px) {
    #container {
        max-width: 75%;
    }
}

.entry {
    display:flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 1em;
}

.value {
    padding-left: 1.5em;
    text-indent: -1em;
}

.const-name {
    color: #CD9AE5;
}

.var-name {
    color: #F9E7CB;
}

.colon {
    color: #B5DDD7;
}

.comma {
    color: #AE93AA;
}

.level-1-bracket {
    color: #DF584F;
}

.level-2-bracket {
    color: #EDE17A;
}

.level-3-bracket {
    color: #91C35F;
}

.level-4-bracket {
    color: #5C81BC;
}

.property-name {
    color: #BCBCBC;
}

.property-value {
    color: #EBB0C6;
}

.square-brackets {
    color: #D279D7;
}